body {
    background-color: rgb(235,235,235);
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-size: 24px;
    text-align: center;
    margin: 100px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

h3 {
    text-align: center;
}

#navfix {
    position: fixed;
    width: 100%;
    z-index: 10;
}

#headerpic {
    width: 100%;
}

#salonpic {
    width: 100%;
    margin-top: 100px;
}

#teampic {
    width: 500px;
    display: flex;
    margin: auto;
}

}

#footer {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}

.placeholderpic {
    width: 50%;
    margin-left: 80px;
}

.servicetab {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 250px;

}

.contact {
    font-a-size: 20px;
}

.schriftfoot {
    font-size: 20px;
    text-align: center;
    margin: 50px;
}
